a.home-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.single {
  flex-direction: column;
  justify-content: center;
  align-items: top;
  background-color: white;
  max-width: 960px;
  width: auto;
  height: 90%;
  margin: 1rem 2rem 2rem;
  padding: 2rem;
  animation: onopen .5s ease-in-out;

  img {
    width: 100%;
  }
  a {
    color: #666;
  }
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #333;
		letter-spacing: 0;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .caption {
    position: relative;
    top: -0.5rem;
    display: block;
    font-size: 0.75rem;
    text-align: right;
  }
  p {
    line-height: 1.414;
  }
  .close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    text-indent: 4rem;
    overflow: hidden;
    white-space: nowrap;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1.25rem;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      background-position: center;
      background-image: url('../../images/close.svg');
      background-size: 16px;
      background-repeat: no-repeat;
      background-color: #e1e1e1;
    }

    &:hover {
      &:before {
        background-color: #999;
      }
    }

    &:active {
      &:before {
        background-color: _palette(border-bg-alt);
      }
    }
  }
}

@keyframes onopen {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
